# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Data and models
data/
datasets/
models/
checkpoints/
*.pt
*.pth
*.ckpt
*.pkl
*.npy
*.npz

# Large media files
*.mp4
*.avi
*.mov
*.mkv

#.env
.env
*.env
trash/.env.py
.env.*

trash/